<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.boomers.mapper.SearchMapper" >
	<select id="SelectLikeCommodity" resultType="Map" parameterType="String">
		select * from tb_commodity where CName like concat(concat('%',#{CName}),'%')
	</select>
    <select id="Select_word" resultType="Map">
		select * from tb_commodity order by CCount DESC LIMIT 0,5
	</select>
	<select id="Select_id" resultType="Map" parameterType="Integer">
		select * from tb_commodity where ComId=#{ComId}
	</select>
</mapper>